<h4>Editar Livro</h4>

<form #livroForm="ngForm" (ngSubmit)="submit(livroForm.form);" *ngIf="livro">
  <div class="alert alert-success" *ngIf="formularioEnviado">
    Livro salvo com sucesso!
  </div>
  <div class="alert alert-danger" *ngIf="erroEnviarFormulario">
    Erro ao salvar o livro!
  </div>
  <div *ngIf="isbn.touched && isbn.errors">
    <div class="alert alert-danger" *ngIf="isbn.errors.required">
      ISBN é obrigatório!
    </div>
    <div class="alert alert-danger" *ngIf="isbn.errors.minlength">
      ISBN deve ter no mínimo 10 caracteres.
    </div>
  </div>
  <div *ngIf="nome.touched && nome.errors">
    <div class="alert alert-danger" *ngIf="nome.errors.required">
      O campo nome é obrigatório!
    </div>
  </div>
  <div *ngIf="autor.touched && autor.errors">
    <div class="alert alert-danger" *ngIf="autor.errors.required">
      O campo autor é obrigatório!
    </div>
  </div>

  <div class="form-group col-sm-12">
    <label for="isbn"><b>ISBN</b></label>
    <input type="text"
           class="form-control"
           name="isbn"
           [ngModel]="livro.isbn"
           #isbn="ngModel"
           required
           minlength="10"
           disabled
           />
  </div>
  <div class="form-group col-sm-12">
    <label for="nome"><b>Nome</b></label>
    <input type="text"
           class="form-control"
           name="nome"
           [ngModel]="livro.nome"
           #nome="ngModel"
           required
            />
  </div>
  <div class="form-group col-sm-12">
    <label for="autor"><b>Autor</b></label>
    <input type="text"
           class="form-control"
           name="autor"
           [ngModel]="livro.autor"
           #autor="ngModel"
           required
            />
  </div>
  <div class="input-group">
    <div class="form-group col-sm-6">
      <label for="dataPublicacao"><b>Data de Publicação</b></label>
      <input type="date"
             class="form-control"
             name="dataPublicacao"
             placeholder="yyyy-MM-dd"
             [ngModel]="livro.dataPublicacao | date: 'yyyy-MM-dd' "
             #dataPublicacao="ngModel"
              />
    </div>
    <div class="form-group col-sm-6">
      <label for="preco"><b>Preço</b></label>
      <input type="text"
             class="form-control "
             name="preco"
             [ngModel] ="livro.preco"
             #preco="ngModel"
              />
    </div>
  </div>
  <!--<div class="form-group col-sm-12">
    <label for="capa"><b>Capa</b></label>
    <input type="file"
           class="form-control"
           name="capa"
           ngModel
           #capa="ngModel" (change)="onFileChange($event)" />
  </div>-->
  <div class="form-group col-sm-12">
    <button class="btn btn-primary" [disabled]="!livroForm.valid">Salvar</button>
  </div>
</form>
